body { 
background-color: #0C111B;


}
.header{ 
background-color: #131A27;
z-index: 99;

}
.header i{ 
color: gray;


    
        
        

    
    


}
.header .nav .nav-item .nav-link{ 
color:white;
font-size: 18px;



}
.search{ 
    position:relative;
}
.search .form-control{ 
background-color: transparent;
border-color:transparent;
border-radius: 0px;;
border-bottom-color:gray;
box-shadow: none;
padding-left: 0px;
width: 200px;
transition: all .3s ease;
color:white;


}
.search .form-control::placeholder{
    opacity: 1;
    color: white;
}
.search .form-control:focus{
    width: 300px;
    border-bottom-color: #1F80E0;
}
.search .fa-search{ 
position: absolute;
right: 0px;;
top:50%;
margin-top: -12px;
height: 24px;
line-height: 24px;
width: 24px;
text-align: center;
font-size: 20px;







}
.button{ 
    background-color: #131A27;
    
    color:blue;
    border:1px solid blue;
    border-radius: 5px;
}
.header .sub i{ 
font-size: 30px;
color:gray;
margin-left: 15px;
}
.product-image{ 
display:block;
width:100%;
height:562px;

}
.mice h4{ 
    color:white;
    margin-top: 30px;
 
    padding-left: 20px;
font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.section .thumbnail-card{ 
    transform:scale(1);
    transition: transform .3s linear;
    border-radius: 5px;
    overflow: hidden; 
    z-index: 99;
    position: relative;
    padding:0px 5px;
}
.section .thumbnail-card:hover{ 
    transform: scale(1.3);
    z-index: 99;
    cursor: pointer;
    position: absolute;
}
.thumbnail-card img{ 
    border-radius: 10px;
}



.header .nav .nav-item{ 
    position: relative;
 
  }
  .header .nav .nav-item a{ 
     display: block;
     padding: 10px;
     color: white;
     text-decoration: none;
     
 
 
  }
  .header .nav .nav-item ul{ 
     position:absolute;
     left:0px;
     top:100%;
     z-index:99;
     list-style:none;
     margin:0px;
     padding:0px;
     width: 150px;
     background-color: #131A28;
     border-radius: 8px;
     display:none;
  }
  .header .nav .nav-item ul > li{ 
      display:block;
      width:100%;
  }
      
  .header .nav .nav-item ul > li > a{ 
      
     display: block; 
      padding: 10px 5px;  
      color: white; 
       text-align: center;  
       text-decoration: none;
  }
  .header .nav .nav-item:hover > ul{ 
      display:block;
      
  } 
 
  
  
  .header .nav .nav-item ul > li:hover > a{ 
 background-color: #0D121C;
 
  }
  .section .thumbnail-card .thumbnail-card-text{ 
position:absolute;
bottom:0px;
left:0px;
width:100%;
background: linear-gradient(to bottom,transparent,#202431,#202431);
padding-top: 30px;
padding: 15px;
font-size: 10px;
display: none;
color:white;
  }
  .section .thumbnail-card:hover .thumbnail-card-text{ 
      display:block;
  }
 .splide{ 
padding-left: 14px;


 }

 .mice .section .nav{ 
padding-left: 14px;

 }
 .mice .section .text{ 
     position:absolute;
     left:0px;
     bottom:0px;
     padding-left: 10px;
     color: white;
 }
 .section h4:hover{ 
     color:#1F80E0;
 }
 .footer{ 
     margin-top:80px;
 }
 .footer .nav li { 
list-style: none;


 }
 .footer .nav li a { 
color: white;
padding:15px 15px;
text-decoration: none;

 }
 .footer .text{ 
     font-size: 12px;
     padding-top: 11px;
     padding-left: 15px;
     color:white;
 }
.footer .nav li a:hover{ 
color: #1F80E0;
}
.footer .icons a i{ 
color: white;
}
.footer .icons p{ 
    color: white;
} 
.footer .store p{ 
    color:white;
}
.footer .icons p:hover{ 
color: #1F80E0;
}
.footer .store p:hover{ 
    color:#1F80E0;
}
.splide__track{ 
    outline: none !important;
}


.mice .splide .splide__slide .thumbnail-card{ 
    position: relative;
    transform: scale(1);
    transition: transform .3s ease;
    z-index: 1;
    overflow: hidden;

}
.mice .splide .splide__slide .thumbnail-card img{ 
    border-radius: 10px;
}
.splide .splide__slide.first .thumbnail-card{
transform-origin:  left center;
}
.splide .splide__slide.last .thumbnail-card{
transform-origin:  right center;
}
.mice .splide .splide__slide .thumbnail-card:hover{ 
    position: absolute;
    transform: scale(1.4);
    z-index:99;
    cursor: pointer;
   
    
}

.splide__track{ 
   padding-top: 38px;
   padding-bottom: 38px;
   margin-top: -38px;
   margin-bottom: -38px;
   
 

 
}
@media screen and(max-width:768px){
    .splide__track{ 
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      
     
      
     }
     .mice .splide .splide__slide .thumbnail-card img{ 
        padding:0px 0px;
       
       
    }
   
}